@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
:root{
  --heading_color: ;
  --white-color:#fff;
  --blue-color:#1e83f7;
  --green-color:green;
  --yellow-color:#ffac1c;
  --grey-color:#f9f9f9;
  --back-color:  #24252a;
  --black-color: #000;
  --font-fam1: 'Alata', sans-serif;
}
p{
  margin: 0!important;
  padding: 0!important;
}
.blue{
  background-color: var(--blue-color);
}
.yellow{
  background-color: var(--yellow-color);
}
.center{
  text-align: center;
}
.main{
  display: flex;
  font-family: var(--font-fam1) !important;
}
.side-main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 713px;
  width: 200px;
  background-color: var(--back-color);
  color: var(--white-color);
}
.navigation {
  padding: 8px 0px;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.navigation p{
  font-weight: bold;
  opacity: 60%;
}
.home{
  background-color: var(--grey-color);
}
.main-content{
  width: 1318px;
}
.manage-user{
  padding-bottom: 36px;
}
.manage-user h3{
  margin:16px 0px;
  font-size: 16px;
  font-weight: bold;
}
.show-total{
  display: flex;
}
.card-total{
  color: var(--white-color);
  width: 250px;
  border-radius: 8px;
  padding: 4px 10px;
  margin-right: 12px;
}
.card-total-left{

}
.card-total-right{
  text-align: end;
}
.card-total-right {
  margin-top: 16px;
  margin-right: 12px;
}
.card-total-right span{
  padding: 4px;
}
.nav-tabs{
  background-color: var(--white-color);
  padding: 8px 16px;
}
.nav-btn{
  display: flex;
  gap: 20px;
}
.btn-main button{
  border: none;
  background-color: var(--white-color);
}
.btn-border{
  border-bottom: 2px solid var(--blue-color);
}
.qr-img img{
  height: 25px;
}
.qr-img{
  text-align: start;
}
.edit-icon{
  color: var(--blue-color);
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid var(--blue-color);
  border-radius: 8px;
  background-color: var(--grey-color);
}
.delete-icon{
  color: var(--yellow-color);
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid var(--yellow-color);
  border-radius: 8px;
  background-color: var(--grey-color);
}
.view-icon{
  color: var(--green-color);
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid var(--green-color);
  border-radius: 8px;
  background-color: var(--grey-color);
}
.table tbody>tr>td{
  padding: 6px 16px;
}