@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
:root {
  --heading_color: ;
  --white-color: #fff;
  --blue-color: #1e83f7;
  --green-color: #20BC08;
  --yellow-color: #ffac1c;
  --grey-color: #f9f9f9;
  --back-color: #24252a;
  --black-color: #000;
  --font-fam1: "Alata", sans-serif;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}
thead {
  border-top: 2px solid var(--grey-color);
  border-bottom: 2px solid var(--grey-color);
}
.blue {
  background-color: var(--blue-color);
}
.yellow {
  background-color: var(--yellow-color);
}
.center {
  text-align: center;
}
.main {
  display: flex;
  font-family: var(--font-fam1) !important;
}
.side-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 713px;
  width: 200px;
  background-color: var(--back-color);
  color: var(--white-color);
}
.navigation {
  padding: 8px 0px;
  cursor: pointer;
  background-color: var(--white-color);
  box-shadow: 0px 5px 15px #1201030f;
}
.navigation p {
  font-weight: bold;
  opacity: 60%;
}
.home {
  background-color: var(--grey-color);
}
.main-content {
  width: 1318px;
}
.manage-user {
  padding-bottom: 36px;
}
.manage-user h3 {
  margin: 16px 0px;
  font-size: 16px;
  font-weight: bold;
}
.show-total {
  display: flex;
}
.card-total {
  color: var(--white-color);
  width: 250px;
  border-radius: 8px;
  padding: 4px 10px;
  margin-right: 12px;
}
.card-total-left {
}
.card-total-right {
  text-align: end;
}
.card-total-right {
  margin-top: 16px;
  margin-right: 12px;
}
/* .card-total-right img{ */
/* background: transparent url('./Assests/group.svg') 0% 0% no-repeat padding-box;
} */
.nav-tabs {
  background-color: var(--white-color);
  padding: 8px 16px;
}
.nav-btn {
  display: flex;
  gap: 20px;
}
.btn-main button {
  border: none;
  background-color: var(--white-color);
}
.btn-border {
  border-bottom: 2px solid var(--blue-color);
}
.qr-img img {
  height: 25px;
}
.qr-img {
  text-align: start;
}
.table-data {
  background-color: var(--white-color);
}
.edit-icon {
  color: var(--blue-color);
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid var(--blue-color);
  border-radius: 8px;
  background-color: var(--grey-color);
}
.delete-icon {
  color: var(--yellow-color);
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid var(--yellow-color);
  border-radius: 8px;
  background-color: var(--grey-color);
}
.view-icon {
  color: var(--green-color);
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid var(--green-color);
  border-radius: 8px;
  background-color: var(--grey-color);
}
.table tbody > tr > td {
  padding: 6px 16px;
}
.sub-bar {
  padding: 20px;
}
.search-bar {
  display: flex;
  gap: 20px;
  position: relative;
}
.search-bar input {
  padding-left: 26px;
  font-size: 12px;
  border: 1px solid #c3c1bf;
  border-radius: 5px;
  height: 30px;
}
.filter-btn {
}
.filter-btn button {
  border: 1px solid var(--blue-color);
  border: 1px solid #1e83f7;
  border-radius: 5px;
  opacity: 1;
  color: var(--blue-color);
  background-color: var(--white-color);
  font-size: 12px;
  padding: 3px 12px;
}
.add-icon {
  padding-right: 8px;
  font-size: 14px;
}
.search-icon {
  position: absolute;
  left: 1%;
  top: 18%;
  font-size: 12px;
}
.filter-icon {
  padding-right: 4px;
}
.add-btn {
  text-align: end;
}
.add-btn button {
  background-color: var(--yellow-color);
  padding: 4px 12px;
  border: none;
  color: var(--white-color);
  font-size: 12px;
  border-radius: 5px;
}
.pagination-main {
  text-align: center !important;
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
  border-radius: 5px !important;
}
.manage-team {
  padding: 4px 16px;
  background-color: var(--grey-color);
}
.manage-team p {
  font-size: 12px;
  opacity: 80%;
  color: #656669;
  font-weight: bold;
}
.manage-team p > span {
  margin: 0px 8px;
}
.manage-team h3 {
  margin: 12px 0px;
  font-size: 28px;
  font-weight: bold;
}
.team-form {
  padding: 24px;
  background-color: #fff;
  height: 497px;
  overflow-y:scroll ;
}
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Set the background color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set the background color of the handle on hover */
}
.form-title {
  text-align: end;
  color: #24252a !important;
  font-size: 20px !important;
  padding-right: 46px !important ;
}
.team-basic {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.team-input {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 12px;
}
.team-input label {
  color: #24252a;
  margin-bottom: 4px;
  font-size: 14px;
}
.team-input input {
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border: 1px solid #c3c1bf;
  border-radius: 5px;
  padding: 0px 8px;
  width: 258px;
  font-size: 14px;
  height: 36px;
}
.team-input select {
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border: 1px solid #c3c1bf;
  border-radius: 5px;
  padding: 0px 8px;
  width: 258px;
  font-size: 14px;
  height: 36px;
}
.team-input input:focus {
  outline: none !important;
}
.team-member {
}
.input-flex{
  display: flex;
}
.input-flex button{
  border: none!important;
  background: #C3C1BF 0% 0% no-repeat padding-box;
}
.bill-check{
  display: flex;
  gap: 0px;
}
.bill-check p{

}
.bill-check input{
  height: 12px;
  width: 12px;
  margin-top: 4px;
  margin-right: 6px;
}
.bill-check input:checked{
 background-color: var(--black-color) !important;
}
.enter-btn{
  margin-left: 26px !important;
  background-color: var(--blue-color) !important;
  border: none !important;
  color: var(--white-color) !important;
  padding: 0px 26px;
  border-radius: 5px;
}
.team-member label {
  color: #24252a;
  margin-bottom: 4px;
  font-size: 14px;
}
hr:not([size]) {
  height: 3px;
}
.team-member-select {
  padding: 8px;
  margin-bottom: 26px;
  background: var(---ffffff-base) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c3c1bf;
  border-radius: 5px;
}
.team-member-select select {
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border: 1px solid #c3c1bf;
  font-size: 14px;
  width: 464px;
  border-radius: 5px;
  height: 36px;
}
.team-member-select select > option {
}
.d-flex input {
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border: 1px solid #c3c1bf;
  border-radius: 5px;
  padding: 0px 8px;
  width: 258px;
  font-size: 14px;
  height: 36px;
}
.d-flex input:focus {
  outline: none !important;
}
.d-flex button {
  background: #1e83f7 0% 0% no-repeat padding-box;
  border: 1px solid #c3c1bf;
  border-radius: 0px 4px 4px 0px;
  color: var(--white-color) !important;
  padding: 0px 16px;
}
.team-qr {
}
.team-qr img {
  height: 140px;
}
.print-btn {
  margin: 26px 8px 16px;
}
.print-btn button {
  border: 1px solid #1e83f7 !important;
  border-radius: 5px !important;
  background-color: var(--white-color) !important;
  color: var(--blue-color) !important;
  padding: 3px 44px !important;
  height: 32px !important;
}
.print-icon{
  margin-right: 8px;
}
.download-btn {
  margin-left: 8px;
}
.download-btn button {
  border: 1px solid var(--green-color) !important;
  border-radius: 5px !important;
  background-color: var(--white-color) !important;
  color: var(--green-color) !important;
  padding: 3px 26px !important;
  height: 32px !important;
}
.save{
  background-color: var(--white-color);
  margin: 16px 0px;
  padding: 11px;
}
.save button{
  height: 36px;
  background: #F7921E 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 0px 36px;
  font-size: 14px;
  color: var(--white-color);
  border: none ;
}
.btn-confirm{
  background-color: red !important;
  border: none !important;
  padding: 4px 16px !important;
}
.btn-end{
  background-color: var(--blue-color) !important;
  border: none !important;
  padding: 4px 16px !important;
}
.btn-close{
color: red !important;
background: none !important;
border: none !important;
}
.view-image{
  text-align: center;
}
.view-image img{
  height: 120px !important;
  border-radius: 50%;
}
.view-image h3{
  font-size: 18px;
  margin-top: 12px;
}
.view-image p{
  font-size: 12px;
  opacity: 80%;
}
.tag{
  background: #1E83F7 0% 0% no-repeat padding-box;
border-radius: 18px;
display: inline-block;
font-size: 14px;
color: var(--white-color);
padding: 4px 12px !important;
}
.view-basic{

}
.view-info p{
  font-size: 14px;
}
.modal-footer{
  display: block !important;
  background-color: var(--yellow-color);
  margin: 16px 12px;
  padding: 4px 0px !important;
  color: var(--white-color);
  text-align: center;
  border-radius: 5px;
}
.modal-footer p>span{
  margin-right: 12px;
}
.modal-footer p{
  font-size: 14px;
  font-family: var(--font-fam1);
}